/* Desktop fonts */
:root {
  --font-family: 'Inter', 'Helvetica', sans-serif;
  --font-base: 1rem;
  --font-h1: 11.11rem;
  --font-h2: 3.1rem;
  --font-h3: 2.22rem;
  --font-h4: 1.33rem;
  --font-h5: 1.1rem;
  --font-h6: .83rem;
  --font-btn: .88rem;
}

/* Tablet fonts */
@media (min-width: 768px) and (max-width: 1023px) {
  :root {
    --font-h1: 9.7rem;
    --font-h2: 2.2rem;
    --font-h3: 1.7rem;
    --font-h4: var(--font-base);
    --font-h5: var(--font-base);
    --font-h6: .72rem;
    --font-btn: .88rem;
  }
}

/* Mobile fonts */
@media (max-width: 767px) {
  :root {
    --font-base: 0.66rem;
    --font-h1: 5.5rem;
    --font-h2: 1.1rem;
    --font-h3: .83rem;
    --font-h4: .83rem;
    --font-h5: .83rem;
    --font-h6: .55rem;
    --font-btn: .66rem;
  }
}
