/* Desktop font size */
:root {
  --font-family: 'Inter', 'Helvetica', sans-serif;
  --font-base: 1rem;
  --font-h1: 11.11rem;
  --font-h2: 3.11rem;
  --font-h3: 2.22rem;
  --font-h4: 1.33rem;
  --font-h5: 1.11rem;
  --font-h6: 0.83rem;
}

/* Tablet font size */
@media (min-width: 768px) and (max-width: 1023px) {
  :root {
    --font-h1: 9.72rem;
    --font-h2: 2.22rem;
    --font-h3: 1.78rem;
    --font-h4: var(--font-base);
    --font-h5: var(--font-base);
    --font-h6: 0.83rem;
  }
}

/* Mobile font size */
@media (max-width: 767px) {
  :root {
    --font-base: 0.67rem;
    --font-h1: 5.56rem;
    --font-h2: 1.11rem;
    --font-h3: 0.83rem;
    --font-h4: 0.83rem;
    --font-h5: 0.83rem;
    --font-h6: 0.56rem;
  }
}
