:root {
  --icon-width: .88rem;

  --gap-sm: calc(1rem * 0.75);
  --gap-md: calc(1rem * 1.25);
  --gap-lg: calc(1rem * 1.5);
  --gap-xl: calc(1rem * 2);
  --gap-xxl: calc(1rem * 2.5);

  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 0.75rem;
  --space-lg: 1rem;
}

@media (min-width: 768px) {
  :root {
    --icon-width: 1rem;

    /* Resp. Gap Scale */
    --gap-sm: calc(1rem * 1.25);
    --gap-md: calc(1rem * 1.5);
    --gap-lg: calc(1rem * 1.75);
    --gap-xl: calc(1rem * 2.25);
    --gap-xxl: calc(1rem * 2.5);

    /* Resp. Spacing Scale */
    --space-xs: 0.3rem;
    --space-sm: 0.6rem;
    --space-md: 0.9rem;
    --space-lg: 1.2rem;
  }
}

@media (min-width: 992px) {
  :root {
    /* Resp. Gap Scale */
    --gap-sm: calc(1rem * 1.5);
    --gap-md: calc(1rem * 1.75);
    --gap-lg: calc(1rem * 2);
    --gap-xl: calc(1rem * 2.5);
    --gap-xxl: calc(1rem * 3);

    /* Resp. Spacing Scale */
    --space-xs: 0.35rem;
    --space-sm: 0.7rem;
    --space-md: 1rem;
    --space-lg: 1.3rem;
  }
}

@media (min-width: 1300px) {
  :root {
    --icon-width: 1.5rem;

    /* Resp. Gap Scale */
    --gap-sm: calc(1rem * 1.75);
    --gap-md: calc(1rem * 2);
    --gap-lg: calc(1rem * 2.1);
    --gap-xl: calc(1rem * 2.5);
    --gap-xxl: calc(1rem * 3.3);

    /* Resp. Spacing Scale */
    --space-xs: 0.4rem;
    --space-sm: 0.8rem;
    --space-md: 1.1rem;
    --space-lg: 1.4rem;
  }
}
